<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center vcenter">
    <h2>Check in / out</h2>
  </div>
</div>

<% if @activities.none? %>
  <h3 class="text-center">There are no activities available.</h3>
<% else %>
  <ul class="list-group">
    <%= link_to "All Activities", campsite_activity_children_path(@campsite, :all), class: "list-group-item text-center" %>
    <%= render @activities %>
  </ul>
<% end %>

